.hero {
  background: url("https://hcmut.edu.vn/img/nhanDienThuongHieu/01_logobachkhoasang.png")
    no-repeat center center;

  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.card-container {
  display: flex; /* xếp ngang các card */
  justify-content: center; /* căn giữa toàn bộ */
  align-items: flex-start; /* căn thẳng hàng trên */
  gap: 20px; /* khoảng cách giữa các card */
  flex-wrap: wrap; /* nếu màn hình nhỏ thì card tự xuống dòng */
  margin-top: 20px;
}
.weathers {
  display: none; /* ẩn mặc định */
  text-align: left;
  margin-left: 20px;
}

.weathers.show {
  display: block; /* khi có class show thì hiện ra */
}
